#filter {
    height: 400px;
    padding: 80px 20px;
    width: 100px;
}

#filter h2{
    font-size: 1.3rem;
}

#filter li{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.divisoria-metade {
    width: 100px;
    padding: 5px 0px 5px 0px;
}

h2 {
    font-size: 1.1rem;
    padding-bottom: 5px;
}

input {
    margin-right: 5px;
}

#products {
    width: 800px;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
	flex-direction: row;
    align-items: flex-start;
}

#submit {
    margin-top: 50px;

}

.product-list {
    margin: 20px 0px 20px 0px;
    width: 700px;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: auto;
}    

.product-list__link {
    text-decoration: none;
}

.product-list__card {
    display: flex;
}

.product-item__link {
}

.product-item__details {
    height: 100px;
    width: 200px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-size: 20px;
}

.product-item__image {
    height: 250px;
    width: 200px;
}

.product-item__name,
.product-item__price {
    text-decoration: none;
}

#products_header {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

h1 {
    font-size: 1.7rem;
    padding-left: 50px;
}

#order-filter {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    padding-right: 90px;
    display: flex;
    align-items: center;
}

#order-filter_title {
    padding-right: 5px;
}

#order-filter_options,
#order-filter_title {
    font-size: .9rem;
}