<main>

    <form (change)="getAllProducts(atualPage)">
        <div id="filter">
            <h2>Tipo</h2>
            <ul>
                <li>
                    <input class="filterCheckbox type" type="checkbox" name="shirt" id="shirt">
                    <label for="shirt">Camisa</label> 
                </li>
                <li>
                    <input class="filterCheckbox type" type="checkbox" name="pants" id="pants">
                    <label for="pants">Calça</label> 
                </li>
                <li>
                    <input class="filterCheckbox type" type="checkbox" name="shorts" id="shorts">
                    <label for="shorts">Short</label> 
                </li>
                <li>
                    <input class="filterCheckbox type" type="checkbox" name="sweatshirt" id="sweatshirt">
                    <label for="sweatshirt">Moleton</label> 
                </li>
                <li>
                    <input class="filterCheckbox type" type="checkbox" name="shoe" id="shoe">
                    <label for="shoe">Calçado</label> 
                </li>
            </ul>

            <img src="../../../../assets/divisoria-metade.png" alt="divisoria-metade" class="divisoria-metade">

            <h2>Gênero</h2>
            <ul>
                <li>
                    <input class="filterCheckbox gender" type="checkbox" name="masculine" id="masculine">
                    <label for="masculine">Masculino</label> 
                </li>
                <li>
                    <input class="filterCheckbox gender" type="checkbox" name="feminine" id="shirt" id="feminine">
                    <label for="feminine">Feminino</label> 
                </li>
                <li>
                    <input class="filterCheckbox gender" type="checkbox" name="unisex" id="unisex">
                    <label for="unisex">Unisex</label> 
                </li>
            </ul>

            <img src="../../../../assets/divisoria-metade.png" alt="divisoria-metade" class="divisoria-metade">


            <h2>Tamanho</h2>
            <ul>
                <li>
                    <input class="filterCheckbox size" type="checkbox" name="p" id="p">
                    <label for="p">Pequeno</label> 
                </li>
                <li>
                    <input class="filterCheckbox size" type="checkbox" name="m" id="m">
                    <label for="m">Médio</label> 
                </li>
                <li>
                    <input class="filterCheckbox size" type="checkbox" name="g" id="g">
                    <label for="g">Grande</label> 
                </li>
            </ul>
        </div>
    </form>

    <div id="products">

        <div id="products_header">
            <h1>{{ title }}</h1>
            <div id="order-filter">
                <label id="order-filter_title" for="order-filter_options">Ordenar por: </label>
                <select id="order-filter_options" name="order-filter" (change)="getAllProducts(atualPage)">
                    <option class="order-filter_element" value="name,asc" selected>Relevância</option>
                    <option class="order-filter_element" value="value,asc">Menor preço</option>
                    <option class="order-filter_element" value="value,desc">Maior preço</option>
                </select>
            </div>
        </div>

        <ul class="product-list">
            <li (click)="getAllProducts(atualPage)" class="product-list__card" *ngFor="let product of allProducts.content">
                <a class="product-list__link" routerLink="/products/{{ product.productId }}">
                    <img class="product-item__image" [src]=" product.image ">
                    <div class="product-item__details">
                        <h2 class="product-item__name">
                            {{ product.name }}
                        </h2>
                        <p class="product-item__price">
                            {{ product.value | currency: "BRL" }}
                        </p>
                    </div>
                </a>
            </li>
        </ul>

        <div class="totalPages">
            <p (click)="alterAtualPage($event)" *ngFor="let i of totalPages" [ngClass]=" i === atualPage+1 ? 'atual-page' : 'page' ">{{ i }}</p>
        </div>
    </div>

</main>
