<main>

    <form action="/sla" method="get">
        <div id="filter">
            <h2>Tipo</h2>
            <ul>
                <li>
                    <input type="checkbox" name="camisa">
                    <label for="camisa">Camisa</label> 
                </li>
                <li>
                    <input type="checkbox" name="calcas">
                    <label for="calca">Calça</label> 
                </li>
                <li>
                    <input type="checkbox" name="shorts">
                    <label for="short">Short</label> 
                </li>
                <li>
                    <input type="checkbox" name="moletons">
                    <label for="moleton">Moleton</label> 
                </li>
                <li>
                    <input type="checkbox" name="calcado">
                    <label for="calcado">Calçado</label> 
                </li>
            </ul>

            <img src="../../../../assets/divisoria-metade.png" alt="divisoria-metade" class="divisoria-metade">

            <h2>Gênero</h2>
            <ul>
                <li>
                    <input type="checkbox" name="masculino">
                    <label for="masculino">Masculino</label> 
                </li>
                <li>
                    <input type="checkbox" name="feminino">
                    <label for="feminino">Feminino</label> 
                </li>
                <li>
                    <input type="checkbox" name="unisex">
                    <label for="unisex">Unisex</label> 
                </li>
            </ul>

            <img src="../../../../assets/divisoria-metade.png" alt="divisoria-metade" class="divisoria-metade">


            <h2>Tamanho</h2>
            <ul>
                <li>
                    <input type="checkbox" name="pequeno">
                    <label for="pequeno">Pequeno</label> 
                </li>
                <li>
                    <input type="checkbox" name="medio">
                    <label for="medio">Médio</label> 
                </li>
                <li>
                    <input type="checkbox" name="grande">
                    <label for="grande">Grande</label> 
                </li>
            </ul>

            <input id="submit" type="submit">
        </div>
    </form>

    <div id="products">
        <div id="products_header">
            <h1>Todos os produtos</h1>
            <div id="order_filter">
                <span>Ordenar por: </span>
                <select name="" id="">
                    <option value="valor1">Valor 1</option>
                    <option value="valor2" selected>Valor 2</option>
                    <option value="valor3">Valor 3</option>
                </select>
            </div>
        </div>
        <ul>
            <li>
                <img src="../../../../assets/camisa polo.png" alt="">
                <div>
                    <span>nome</span>
                    <span>valor</span>
                </div>
            </li>
            <li>
                <img src="../../../../assets/camisa polo.png" alt="">
                <div>
                    <span>nome</span>
                    <span>valor</span>
                </div>
            </li>
            <li>
                <img src="../../../../assets/camisa polo.png" alt="">
                <div>
                    <span>nome</span>
                    <span>valor</span>
                </div>
            </li>
            <li>
                <img src="../../../../assets/camisa polo.png" alt="">
                <div>
                    <span>nome</span>
                    <span>valor</span>
                </div>
            </li>
        </ul>
    </div>

</main>
