.container {
    min-height: 0px;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.all-products__link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem; 
}

#logo {
     font-size: 2.0rem;
     text-decoration: none;
     color: black;
}

#search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 400px;
    border: 1px solid black;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

#search_bar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
}

#search_bar form input {
    width: 90%;
}

.header_icon {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}

#search_bar button {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

form a {
    height: 30px;
    width: 30px;
}

#lupa {
    position: relative;
    right: 0px;
    height: 100%;
    margin: 0px;
}
