<header>
    <div class="container">
        <a id="logo" routerLink="/">LoremShop</a>
        <div id="search_bar">
            <form>
                <input (keyup.enter)="getInputName($event)" id="input-busca" placeholder="Buscar um produto específico" type="text">
                <a (click)="getInputName($event)">
                    <img id="lupa" alt="lupa" src="../../../../assets/magnifying-glass.png">
                </a>
            </form>
        </div>
        <a routerLink="/products" class="all-products__link">Todos produtos</a>
        <div>
            <img alt="carrinho" id="cart" class="header_icon" src="../../../../assets/shopping-cart.png">
            <a routerLink="/user/login">
                <img alt="conta" id="account" class="header_icon" src="../../../../assets/user.png">
            </a>
        </div>
    </div>  
</header>