<main>

    <div class="container">

        <section id="banner_area">
            <i class="fa-solid fa-circle-chevron-left" (click)="previousBanner()"></i>
            <ul id="banner_list">
                <li>
                    <img class="banner_image" [src]="bannerList[bannerIndex]" alt="banner_image">
                </li>
            </ul>
            <i class="fa-solid fa-circle-chevron-right" (click)="nextBanner()"></i>
        </section>

        <section id="featured_products">
            <div class="section_title">DESTAQUE</div>

            <ul class="product-list">
                <li class="product-list__card" *ngFor="let product of allProducts.content">
                    <a class="product-list__link" routerLink="/products/{{ product.productId }}">
                        <img class="product-item__image" [src]=" product.image ">
                        <div class="product-item__details">
                            <h2 class="product-item__name">
                                {{ product.name }}
                            </h2>
                            <p class="product-item__price">
                                {{ product.value | currency: "BRL" }}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

    </div>
    
</main>