label {
    font-size: 1.3rem;
    padding-bottom: 5px;
}

#option-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-data_div-label-input {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.user-data_input {
    border: 1px solid black;
    padding: 10px 15px;
    width: 250px;
}

#user-data_btn {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: rgb(42, 42, 49);
    border: none;
    border-radius: 10px;
    color: #eee;
}