.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    padding-top: 40px;
    column-gap: 50px;
    width: 100%;
}

#login,
#register {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 10px;
    width: 300px;
    height: 210px;
    background-color: #f2f2f2;
}

#login form,
#register form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px;
    row-gap: 10px;
    border-radius: 10px;
    width: 100%;
}

#register {
    height: 310px;
}

#register form div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100px;
}

#login form input,
#register form input {
    border: 1px solid var(--border-color);
    background-color: #f9f9f9;
    padding: 10px;
}

.input-password {
    width: 123px;
}

button {
    padding: 10px;
    font-size: 1.0rem;
    background-color: rgb(42, 42, 49);
    border-radius: 10px;
    border: none;
    color: #fefefe;
    height: 60px;
    cursor: pointer;
    letter-spacing: 2px;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    color: #333;
}

/* user options */

.user-area {
    width: 750px;
    display: flex;
    align-items: flex-start;
}

.user-options {
    padding: 30px 10px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.user-options ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.user-options li a{
    padding-left: 5px;
    text-decoration: none;
    color: #000;
    border-left: 3px solid #000;
    font-size: 1.1rem;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    padding: 20px;
}

.user-options button {
    width: 150px;
    background-color: rgb(223, 69, 69);
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .container {
        flex-wrap: wrap;
        row-gap: 40px;
        margin-top: 10px;
        width: 100vw;
    }

    #login,
    #register {
        width: 200px;
        height: 200px;
    }

    #register {
        height: 350px;
    }

    #login form,
    #register form {
        padding: 0px 10px;
    }

    #register form div {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        width: 180px;
    }

    .input-password {
        width: 180px;
    }

    .user-options li a{
        font-size: 1.0rem;
    }

    .user-area {
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .user-options {
        width: 300px;
        height: 50px;
        flex-direction: row;
    }

    .user-options button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    .user-options button span {
        display: none;
    }

    .option {
        justify-content: center;
        align-items: center;
    }

}