<main *ngIf="isLoggedIn; else isLoggeOut">

    <div  class="container">

        <div (submit)="authenticate()" id="login">
            <form>
                <h2 class="title">Logar</h2>
                <input placeholder="E-mail" type="email" name="email" id="login-email" [formControl]="email">
                <input placeholder="Senha" type="password" name="password" id="login-password" [formControl]="password">
                <button type="submit" id="login-btn">Logar</button>
            </form>
        </div>
        
        <img id="divisoria" src="../../../../../assets/divisoria-metade.png" alt="divisoria">

        <div (submit)="register()" id="register">
            <form>
                <h2 class="title">Cadastrar</h2>
                <div>
                    <input placeholder="Nome" type="text" id="register-name">
                    <input placeholder="Sobrenome" type="text" id="register-surname">
                </div>
                <input placeholder="E-mail" type="email" id="register-email">
                <div>
                    <input placeholder="Senha" type="password" id="register-password">
                    <input placeholder="Confirmar senha" type="password" id="register-confirm-password">
                </div>
                <button type="submit" id="register-btn">Cadastrar</button>
            </form>
        </div>

    </div>

</main>

<ng-template #isLoggeOut>
    <main>
        <div class="container">
            <div class="user-options">
                <ul>
                    <li><a routerLink="data">Dados pessoais</a></li>
                    <li><a routerLink="orders">Pedidos</a></li>
                    <button (click)="removeCookie()">Deslogar</button>
                </ul>
            </div>
            
            <div class="option">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</ng-template>