<main *ngIf="isLoggedIn; else isLoggeOut">

    <div  class="container">

        <div (submit)="authenticate()" id="login">
            <form>
                <h2 class="title">Logar</h2>
                <input placeholder="E-mail" type="email" name="email" id="login-email" [formControl]="email">
                <input placeholder="Senha" type="password" name="password" id="login-password" [formControl]="password">
                <button type="submit" id="login-btn">Logar</button>
            </form>
        </div>
        
        <img id="divisoria" src="../../../../../assets/divisoria-metade.png" alt="divisoria">

        <div (submit)="register()" id="register">
            <form>
                <h2 class="title">Cadastrar</h2>
                <div>
                    <input placeholder="Nome" type="text" id="register-name">
                    <input placeholder="Sobrenome" type="text" id="register-surname">
                </div>
                <input placeholder="E-mail" type="email" id="register-email">
                <div>
                    <input placeholder="Senha" type="password" id="register-password">
                    <input placeholder="Confirmar senha" type="password" id="register-confirm-password">
                </div>
                <button type="submit" id="register-btn">Cadastrar</button>
            </form>
        </div>

    </div>

</main>

<ng-template #isLoggeOut>
    <main>
        <div class="container">
            <div class="user-options">
                <a>Dados pessoais</a>
                <a>Pedidos</a>
                <button (click)="removeCookie()">Deslogar</button>
            </div>
            <div class="option">
                <p id="option-title">Title</p>
                <form>
                    <div class="user-data">
                        <div class="user-data_div-label-input">
                            <label for="input_name">Nome</label>
                            <input type="text" [value]="user.name" class="user-data_input" id="input_name" name="input_name">
                        </div>
                        <div class="user-data_div-label-input">
                            <label for="input_surname">Sobrenome</label>
                            <input type="text" [value]="user.surname" class="user-data_input" id="input_surname" name="input_surname">  
                        </div>
                        <div class="user-data_div-label-input">
                            <label for="input_email">Email</label>
                            <input type="text" [value]="user.email" class="user-data_input" id="input_email" name="input_email">
                        </div>
                        <button type="submit" id="user-data_btn">Salvar dados</button>
                    </div>
                    <div class="user-orders">
                    </div>
                </form>
            </div>
        </div>
    </main>
</ng-template>