.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    padding-top: 100px;
}

#login,
#register {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login form,
#register form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid black;
    row-gap: 10px;
}

#register form {
    width: 350px;
}

#register form div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100px;
}

#login form input,
#register form input {
    border: 1px solid black;
    padding: 10px;
}

#register form div input {
    width: 148px;
}

button {
    padding: 10px;
    font-size: 1.0rem;
}

#divisoria {
    transform: rotate(90deg);
    width: 200px;

    margin-top: 100px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* user options */

.user-options {
    width: 300px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.user-options a{
    padding: 5px;
}

#option-title {
    font-size: 2.0rem;
}

.option {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.user-options button {
    width: 150px;
    background-color: #f44;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

/* user data */

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-data_div-label-input {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.user-data_input {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}

#user-data_btn {
    margin-top: 20px;
    height: 50px;
    width: 250px;
}