<main *ngIf="isLoggedIn; else isLoggeOut">

    <div  class="container">

        <div (submit)="authenticate()" id="login">
            <form>
                <h2 class="title">Logar</h2>
                <input placeholder="E-mail" type="email" name="email" id="login-email" [formControl]="email">
                <input placeholder="Senha" type="password" name="password" id="login-password" [formControl]="password">
                <button type="submit" id="login-btn">Logar</button>
            </form>
        </div>
        
        <img id="divisoria" src="../../../../../assets/divisoria-metade.png" alt="divisoria">

        <div id="register">
            <form action="" method="POST">
                <h2 class="title">Cadastrar</h2>

                <div>
                    <input placeholder="Nome" type="text" id="register-name">
                    <input placeholder="Sobrenome" type="text" id="register-surname">
                </div>

                <input placeholder="E-mail" type="email" id="register-email">

                <div>
                    <input placeholder="Senha" type="password" id="register-password">
                    <input placeholder="Confirmar senha" type="password" id="register-confirm-password">
                </div>
                
                <button type="submit" id="register-btn">Cadastrar</button>
            </form>
        </div>

    </div>

</main>

<ng-template #isLoggeOut>
    <h2>ASDOASJDKASD</h2>
</ng-template>