<footer>
    <div>©2023 LoremShop - Todos os direitos reservados.</div>
    <div class="link-list">
        <a class="link" href="https://luizfnds.github.io/portfolio/" target="_blank">
            <i class="fa-solid fa-globe"></i>
        </a>
        <a class="link" href="https://github.com/Luizfnds" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="link" href="https://www.linkedin.com/in/luizfnds/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</footer>
