#products-detail {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

#product-image img {
    width: 450px;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

#product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 350px;
    height: 150px;
    row-gap: 15px;
    margin-left: 20px;
    padding: 20px 30px;
    background-color: rgb(42, 42, 49);
    color: #f2f2f2;
    border-radius: 10px;
}

#product-size {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.product-size-option {
    padding: 5px;
    border: 1px black solid;
    margin-right: 5px;
}

#product-installment {
    font-size: 0.8rem;
    font-weight: 200;
}

#product-quantity {
    font-size: 1.0rem;
    font-weight: 300;
}

#product-quantity input {
    padding-left: 10px;
    width: 30px;
}

h1 {
    font-size: 1.0rem;
    font-weight: 300;
}

#product-size {
    font-size: 1.3rem;
}

#product-value {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout-btn {
    font-size: 1.0rem;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    padding: 10px 25px;
    color: #fff;
    background-color: rgb(39, 160, 43);
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 1px;
}

.product-item__image {
    border: 1px solid var(--border-color);
}

#product-add-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    column-gap: 10px;
}