<main>

    <div id="products-detail" class="container">
        <div id="product-image">
            <img class="product-item__image" [src]="convertBase64ToImage( product.image )">
        </div>
        <div id="product-info">
            <h1>{{ product.name }}</h1>
            <div id="product-size">
                <span>escolher tamanho</span>
                <div>
                    <span class="product-size-option">P</span>
                    <span class="product-size-option">M</span>
                    <span class="product-size-option">G</span>
                </div>
            </div>
            <div id="product-value">
                <span>{{ product.value | currency: "BRL" }}</span>
                <span id="product-installment">ou 10x de R$ 29,90 sem juros</span>
            </div>
            <div id="product-add-cart">
                <div id="product-quantity">
                    <span>Quantidade</span>
                    <input type="number" min="1" value="1">
                </div>
                <button>Adicionar ao carrinho</button>
            </div>
        </div>
    </div>

</main>
