<main>
    <div class="container">
        <div id="   ">
            Dados Pessoais
            <form action="" method="POST">
                <input type="text" placeholder="Nome" name="name" id="personal-data-name">
                <input type="text" placeholder="Sobrenome" name="surname" id="personal-data-surname">
                <input type="email" placeholder="E-mail" name="email" id="personal-data-email">
            </form>
        </div>
        <div id="order">
            Pedidos
            <ul id="order-list">
                <li class="order-list-item">
                    <img src="" alt="">
                    <span>nome</span>
                    <span>valor</span>
                    <span>status</span>
                </li>
            </ul>
        </div>
    </div>
</main>